Django==1.7.1
Jinja2==2.8
MarkupSafe==0.23
Pillow==2.8.2
decorator==4.0.6
defusedxml==0.4.1
django-allauth==0.24.1
django-configurations==0.8
django-datetimezone-field==0.1.8
django-geo-timezones==0.1.2
django-timezone-field==1.3
django-timezone-utils==0.9
django-timezones==0.2
django-timezones2==1.0.4
djangohelpers==0.18.1
geoip2==2.2.0
ipykernel==4.2.2
ipyparallel==4.1.0
ipython==4.0.1
ipython-cluster-helper==0.5.0
ipython-genutils==0.1.0
jupyter-client==4.1.1
jupyter-core==4.0.6
maxminddb==1.2.0
netifaces==0.10.4
now==0.0.6
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
python3-openid==3.0.9
pytz==2015.7
pyzmq==15.1.0
requests==2.9.1
requests-oauthlib==0.6.0
shell==1.0.1
shell-command==0.1
shell-pype==0.1.1
shell.py==0.5.3
simplegeneric==0.8.1
timezones==1.9.4
traitlets==4.0.0
utilis==0.1.3
